.env
__pycache__/
*.pyc
*.log
venv/
*.binlog
allowed_users.txt
bot_data/
cookies.txt
cookies/
download_history.json
*.lock
users_db.json
webhooks_db.binlog
tqueue.binlog
bot_users.log
telegram-bot-api
*.egg-info/
dist/
build/
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
